		<% include ../header.ejs %>
		<header>
			<h1>Bem-vindo!</h1>
			<h4>Ntalk</h4>
		</header>

		<section>
			<form action="/login" method="post">
				<input type="text" name="user[name]" placeholder="Seu Nome">
				<br>
				<input type="text" name="user[email]" placeholder="Seu email">
				<br>
				<button type="submit">Entrar</button>
			</form>

		<% include ../footer.ejs %>
